[submodule "sqlite3/ext/sqlean"]
	path = sqlite3/ext/sqlean
	url = https://github.com/nalgeon/sqlean.git
[submodule "sqlite3/ext/sqlite-url"]
	path = sqlite3/ext/sqlite-url
	url = https://github.com/asg017/sqlite-url.git
[submodule "sqlite3/ext/sqlite-lines"]
	path = sqlite3/ext/sqlite-lines
	url = https://github.com/asg017/sqlite-lines.git
